<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="plantilla/template :: head"></head>
<body>
<header th:replace="plantilla/template :: header"></header>

<div class="container">
    <h1>Actualizar Usuario</h1>

    <form th:action="@{/usuarios/save}" method="post">
    <input type="hidden" name="id" th:value = "${usuarios.id}">
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Usuario</label>
            <input type="text" class="form-control" id="formGroupExampleInput" name = "user" th:value="${usuarios.user}">
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Clave</label>
            <input type="text" class="form-control" id="formGroupExampleInput1" name = "pass" th:value="${usuarios.pass}">
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">idrol</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" name = "idrol" th:value="${usuarios.idrol}">
        </div>
        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
</div>

<footer th:replace="plantilla/template :: footer"></footer>
</body>
</html>