<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="plantilla/template :: head"></head>
<body>
<header th:replace="plantilla/template :: header"></header>

<div class="container">
<h1>Lista de Usuarios</h1>
<a th:href="@{/usuarios/create}" class="btn btn-primary">Nuevo Usuario</a>

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Usuario</th>
        <th scope="col">Password</th>
        <th scope="col">idRol</th>
        <th scope="col">Accion</th>
        <th scope="col">Accion</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="usuario:${usuarios}">
        <td th:text="${usuario.getId()}"></td>
        <td th:text="${usuario.getUser()}"></td>
        <td th:text="${usuario.getPass()}"></td>
        <td th:text="${usuario.getIdrol()}"></td>
        <td><a th:href="@{/usuarios/edit/{id} (id = ${usuario.id}) }" class="btn btn-warning"> Editar</a> </td>
        <td><a th:href="@{/usuarios/delete/{id} (id = ${usuario.id}) }" class="btn btn-danger"> Eliminar</a> </td>
    </tr>
    </tbody>
</table>
</div>

<footer th:replace="plantilla/template :: footer"></footer>
</body>
</html>