<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="plantilla/template :: head"></head>
<body>
<header th:replace="plantilla/template :: header"></header>

<div class="container">
    <h1>Actualizar Rol</h1>

    <form th:action="@{/roles/save}" method="post">
    <input type="hidden" name="id" th:value = "${roles.id}">
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Rol</label>
            <input type="text" class="form-control" id="formGroupExampleInput" name = "des" th:value="${roles.des}">
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Rol</label>
            <input type="text" class="form-control" id="formGroupExampleInput1" name = "iduser" th:value="${roles.iduser}">
        </div>
        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
</div>

<footer th:replace="plantilla/template :: footer"></footer>
</body>
</html>