<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="plantilla/template :: head"></head>
<body>
<header th:replace="plantilla/template :: header"></header>

<div class="container">
<h1>Lista de Roles</h1>
<a th:href="@{/roles/create}" class="btn btn-primary">Nuevo Rol</a>

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Rol</th>
        <th scope="col">idUser</th>
        <th scope="col">Accion</th>
        <th scope="col">Accion</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="rol:${roles}">
        <td th:text="${rol.getId()}"></td>
        <td th:text="${rol.getDes()}"></td>
        <td th:text="${rol.getIduser()}"></td>
        <td><a th:href="@{/roles/edit/{id} (id = ${rol.id}) }" class="btn btn-warning"> Editar</a> </td>
        <td><a th:href="@{/roles/delete/{id} (id = ${rol.id}) }" class="btn btn-danger"> Eliminar</a> </td>
    </tr>
    </tbody>
</table>
</div>

<footer th:replace="plantilla/template :: footer"></footer>
</body>
</html>