<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="plantilla/template :: head"></head>
<body>
<header th:replace="plantilla/template :: header"></header>

<div class="container">
    <h1>Crear Especialidad</h1>

    <form th:action="@{/especialidades/save}" method="post">

    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Especialidad</label>
        <input type="text" class="form-control" id="formGroupExampleInput" name = "des" placeholder="Escriba la especialidad">
    </div>

        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
</div>

<footer th:replace="plantilla/template :: footer"></footer>
</body>
</html>