<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
</head>
<body>
<header th:replace="plantilla/template :: header"></header>

<div class="container">
    <h1 th:text="${titulo}"></h1>
</div>

<div class="container">

    <a class="btn btn-primary btn-sm" th:href="@{/views/pacientes/create}"
       th:text="'Nuevo Paciente'" title="Crear Nuevo Registro">
    </a>

    <a class="nav-link float-right" th:href="@{/views/pacientes/(format=pdf)}"
        title="Exportar a PDF" target="_blank">
        <img class="img-responsive center-box" th:src="@{/images/pdf.png}"  width="32" height="32">
    </a>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Tipo Documento</th>
            <th scope="col">Numero Documento</th>
            <th scope="col">Nombre Completo</th>
            <th scope="col">Celular</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pa:${pacientes}">
            <th scope="row" th:text="${pa.id}"></th>
            <td th:text="${pa.tipodocumento}"></td>
            <td th:text="${pa.numerodocumento}"></td>
            <td th:text="${pa.nombres}+' '+${pa.apellidopaterno}+' '+${pa.apellidomaterno}"></td>
            <td th:text="${pa.numerocelular}"></td>
            <td>
                <a class="btn btn-success btn-sm" th:href="@{/views/pacientes/edit/} + ${pa.id}"
                   th:text="'Editar'" title="Editar Registro">
                </a>
            </td>
            <td>
                <a class="btn btn-danger btn-sm" th:href="@{/views/pacientes/delete/} + ${pa.id}"
                   th:text="'Eliminar'" title="Eliminar Registro"
                   onclick="return confirm('Esta seguro de eliminar el registro?');">
                </a>
            </td>
        </tr>
        </tbody>
    </table>


</div>

<footer th:replace="plantilla/template :: footer"></footer>

</body>
</html>