<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="plantilla/template :: head"></head>
<body>
<header th:replace="plantilla/template :: header"></header>

<div class="container">
<h1>Lista de Tratamientos</h1>
<a th:href="@{/tratamientos/create}" class="btn btn-primary">Nuevo Tratamiento</a>

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Tratamiento</th>
        <th scope="col">Accion</th>
        <th scope="col">Accion</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="tratamiento:${tratamientos}">
        <td th:text="${tratamiento.getId()}"></td>
        <td th:text="${tratamiento.getDes()}"></td>
        <td><a th:href="@{/tratamientos/edit/{id} (id = ${tratamiento.id}) }" class="btn btn-warning"> Editar</a> </td>
        <td><a th:href="@{/tratamientos/delete/{id} (id = ${tratamiento.id}) }" class="btn btn-danger"> Eliminar</a> </td>
    </tr>
    </tbody>
</table>
</div>

<footer th:replace="plantilla/template :: footer"></footer>
</body>
</html>