<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="plantilla/template :: head"></head>
<body>
<header th:replace="plantilla/template :: header"></header>

<div class="container">
    <h1>Crear Paciente</h1>

    <form th:action="@{/pacientes/save}" method="post">

    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Tipo Documento</label>
        <input type="text" class="form-control" id="formGroupExampleInput" name = "tdoc" placeholder="Escriba el Tipo Documento">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Numero de Documento</label>
        <input type="text" class="form-control" id="formGroupExampleInput1" name = "ndoc" placeholder="Escriba el Numero de Documento">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Apellido Paterno</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" name = "apat" placeholder="Escriba el Apellido Paterno">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Apellido Materno</label>
        <input type="text" class="form-control" id="formGroupExampleInput4" name = "amat" placeholder="Escriba el Apellido Materno">
    </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Nombres</label>
            <input type="text" class="form-control" id="formGroupExampleInput5" name = "nom" placeholder="Escriba nombres">
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Sexo</label>
            <input type="text" class="form-control" id="formGroupExampleInput6" name = "sex" placeholder="Escriba el sexo">
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Fecha Nacimiento</label>
            <input type="text" class="form-control" id="formGroupExampleInput7" name = "fnac" placeholder="Escriba el Fecha nacimiento">
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Estado Civil</label>
            <input type="text" class="form-control" id="formGroupExampleInput8" name = "ecivil" placeholder="Escriba el Estado Civil">
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Email</label>
            <input type="text" class="form-control" id="formGroupExampleInput9" name = "email" placeholder="Escriba el Email">
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Numero Celular</label>
            <input type="text" class="form-control" id="formGroupExampleInput10" name = "ncel" placeholder="Escriba el Numero Celular">
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Numero Telefono</label>
            <input type="text" class="form-control" id="formGroupExampleInput11" name = "ntel" placeholder="Escriba el Numero Telefono">
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Direccion</label>
            <input type="text" class="form-control" id="formGroupExampleInput12" name = "dir" placeholder="Escriba la direccion">
        </div>
        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
</div>

<footer th:replace="plantilla/template :: footer"></footer>
</body>
</html>