<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="plantilla/template :: head"></head>
<body>
<header th:replace="plantilla/template :: header"></header>

<div class="container">
<h1>Lista de Pacientes</h1>
<a th:href="@{/pacientes/create}" class="btn btn-primary">Nuevo Paciente</a>

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Tipo Documento</th>
        <th scope="col">Numero Documento</th>
        <th scope="col">Apellido Paterno</th>
        <th scope="col">Apellido Materno</th>
        <th scope="col">Nombres</th>
        <th scope="col">Accion</th>
        <th scope="col">Accion</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="paciente:${pacientes}">
        <td th:text="${paciente.getId()}"></td>
        <td th:text="${paciente.getTdoc()}"></td>
        <td th:text="${paciente.getNdoc()}"></td>
        <td th:text="${paciente.getApat()}"></td>
        <td th:text="${paciente.getAmat()}"></td>
        <td th:text="${paciente.getNom()}"></td>
        <td><a th:href="@{/pacientes/edit/{id} (id = ${paciente.id}) }" class="btn btn-warning"> Editar</a> </td>
        <td><a th:href="@{/pacientes/delete/{id} (id = ${paciente.id}) }" class="btn btn-danger"> Eliminar</a> </td>
    </tr>
    </tbody>
</table>
</div>

<footer th:replace="plantilla/template :: footer"></footer>
</body>
</html>