<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="plantilla/template :: head"></head>
<body>
<header th:replace="plantilla/template :: header"></header>

<div class="container">
    <h1>Crear Odontólogo</h1>

    <form th:action="@{/doctores/save}" method="post">

    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Tipo Documento</label>
        <input type="text" class="form-control" id="formGroupExampleInput" name = "tdoc" placeholder="Escriba el tipo de documento">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Numero Documento</label>
        <input type="text" class="form-control" id="formGroupExampleInput1" name = "ndoc" placeholder="Escriba el numero de documento">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Apellido Paterno</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" name = "apat" placeholder="Escriba el apellido paterno">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Apellido Materno</label>
        <input type="text" class="form-control" id="formGroupExampleInput3" name = "amat" placeholder="Escriba el apellido materno">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Nombres</label>
        <input type="text" class="form-control" id="formGroupExampleInput4" name = "nom" placeholder="Escriba el nombre">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">CEOP</label>
        <input type="text" class="form-control" id="formGroupExampleInput5" name = "ncol" placeholder="Escriba CEOP">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Especialidad</label>
        <input type="text" class="form-control" id="formGroupExampleInput6" name = "idesp" placeholder="Escriba especialidad">
    </div>

        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
</div>

<footer th:replace="plantilla/template :: footer"></footer>
</body>
</html>