<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="plantilla/template :: head"></head>
<body>
<header th:replace="plantilla/template :: header"></header>

<div class="container">
<h1>Lista de Odontólogos</h1>
<a th:href="@{/doctores/create}" class="btn btn-primary">Nuevo Doctor</a>

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Tipo Documento</th>
        <th scope="col">Numero Documento</th>
        <th scope="col">Apellido Paterno</th>
        <th scope="col">Apellido Materno</th>
        <th scope="col">Nombre</th>
        <th scope="col">CEOP</th>
        <th scope="col">Especialidad</th>
        <th scope="col">Accion</th>
        <th scope="col">Accion</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="doctor:${doctores}">
        <td th:text="${doctor.getId()}"></td>
        <td th:text="${doctor.getTdoc()}"></td>
        <td th:text="${doctor.getNdoc()}"></td>
        <td th:text="${doctor.getApat()}"></td>
        <td th:text="${doctor.getAmat()}"></td>
        <td th:text="${doctor.getNom()}"></td>
        <td th:text="${doctor.getNcol()}"></td>
        <td th:text="${doctor.getIdesp()}"></td>
        <td><a th:href="@{/doctores/edit/{id} (id = ${doctor.id}) }" class="btn btn-warning"> Editar</a> </td>
        <td><a th:href="@{/doctores/delete/{id} (id = ${doctor.id}) }" class="btn btn-danger"> Eliminar</a> </td>
    </tr>
    </tbody>
</table>
</div>

<footer th:replace="plantilla/template :: footer"></footer>
</body>
</html>